{% extends "base.html" %}
{% block title %}Пост {{ author.username }}{% endblock %} | Yatube
{% block header %}Пост {{ author.username }}{% endblock %} | Yatube
{% block content %}

<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                {% include 'include/author_card.html' %}
        </div>

        <div class="col-md-9">

            <!-- Пост -->  
                        {% include 'include/post_item.html' %}
                        {% include 'include/comments.html' %}
                </div>
     
    </div>
</main>

{% endblock %}